@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import "compass/typography/links/hover-link";
@import "compass/typography/text/ellipsis";
@import "./common/header";
@import "./common/dialog";
@import "./common/qrCode";
@import "./common/order";
body{
	background-color:$bg-color;
}
.main-wrap{
	margin-top:20px;
	.top-wrap{
		$height:310px;
		$pd:24px;
		height:360px;
		background-color:$white;
		padding-top:$pd;
		padding-bottom:$pd;
		.img-wrap{
			text-align:center;
			a{
				img{
					width:480px;
					height:$height;
				}
			}
		}
		.info-wrap{
			height:$height;
			position:relative;
			#course-title{
				color:$f-black;
			}
			#course-content{
				height:120px;
				text-indent:24px;
				@include ellipsis();
				white-space:normal;
				color:$f-gray;
			}
			.grade-wrap{
				color:$theme-color;
				font-weight:bold;
				a.grade-label{
					@include hover-link();
					color:$theme-color;
				}
				.star-wrap{
					@include inline-block();
				}
				#num-stu{
					color:$gray;
					margin-left:12px;
				}
			}
			.bottom-active{
				position:absolute;
				bottom:0;
				left:15px;
				right:0;
				font-size:24px;
				line-height:normal;
				.show-price{
					@include inline-block();
					margin-top:8px;
				}
				.join-wrap{
					float:right;
					margin-right:14px;
					.btn{
						@include inline-block();
						padding:10px 16px;
						font-size:16px;
						color:$white;
					}
					.btn-join{
						background-color:$theme-color;
						&:hover{
							@include box-shadow(0 0 5px 1px  $theme-color); 
						}
						&:active{
							@include opacity(0.809);
						}
					}
					.btn-favorite{
						background-color:$fr-red;
						&:hover{
							@include box-shadow(0 0 5px 1px  $fr-red); 
						}
						&:active{
							@include opacity(0.809);
						}
					}
					.btn-overed{
						background-color:$gray;
						cursor:crosshair;
					}
				}
			}
		}	
	}
	.bottom-wrap{
		$mt-pr:20px;
		$height:600px;
		margin-top:$mt-pr;
		.left-wrap{
				//background-color:$white;
				padding-right:$mt-pr;
				padding-left:0px;
				.list-wrap{
					height:$height;
					background-color:$white;
					padding-bottom:10px;
					.list-title{
						margin:0;
						padding:$mt-pr;
						border-bottom:1px solid $a-gray;
					}
					.lists{
						@include no-bullet();
						margin:10px $mt-pr;
						padding:0;
						li{
							padding:10px $mt-pr;
							.link-a{
								@include link-colors($black,$gray,$black,$gray,$gray);
							}
							.link-course{
								@include hover-link();
								color:$f-gray;
							}
							.notice-right{
								float:right;
								@include unstyled-link();
								color:$f-gray;
							}

						}
						li:nth-child(even){
							background-color:$a-gray;
						}
					}
				}
			}
		.right-wrap{
			padding:0;
			$mt:20px;
			height:$height;
			
			.right-top{
				background-color:$white;
				h4{
					border-bottom:1px solid $a-gray;
					margin-top:0;
					padding:10px 20px 10px 15px;
					.btn-ask{
						@include unstyled-link();
						float:right;
						font-size:14px;
						color:$fb-black;
					}
				}
				.question-wrap{
					padding-left:15px;
					padding-right:15px;
					.question{
						border-bottom:1px solid $a-gray;
						h5{
							color:$fb-black;
						}
						p.detail{	
							height:60px;
							@include ellipsis();
							white-space:normal;
							color:$f-gray;
						}
						.edit-wrap{
							.btn-a{
								@include unstyled-link();
								color:$f-color;
							}
							.btn-sms{
								margin-right:14px;
							}
							.btn-comment{
								
							}
						}
					}
				}
				.more-wrap{
					background-color:$a-gray;
					text-align:center;
					margin-top:$mt;
					padding:10px 0px;
					.view-more{
						@include unstyled-link();
						@include inline-block();
						@include hover-link();
					}
				}
			}
			.right-bottom{
				margin-top:$mt;
				background-color:$white;
				padding:10px 20px 14px 15px;
				h4{
					margin-bottom:0;
					color:$fb-black;
				}
				p.user-info{
					height:120px;
					padding-left:50px;
					@include ellipsis();
					white-space:normal;
					color:$f-gray;
				}
			}
		}
	}
}
//继承注册以及登陆模态框的部分样式以及变量
.dialog{
	.dialog-wrap{
		h4.dialog-title{
			margin-bottom:20px;
		}
		div.dialog-main{
			$btn-width:384px;
			$width:480px;
			//@extend .dialog-content;
			margin-top:0;
			.input-wrap{
				position:relative;
				width:$width;
				margin:0 auto;
				border:1px solid $bg-color;
				padding:0 20px;
				$pd:14px;
				input{
					width:100%;
					border:none;
					outline:none;
					font-size:14px;
					padding:$pd 0;
					line-height:normal;
					border-bottom:1px solid $bg-color;
				}
				textarea{
					margin-top:$pd;
					width:100%;
					border:none;
					outline:none;
				}
				@at-root (without:all){
					.num-badge{
						position:absolute;
						right:10px;
						bottom:10px;
					}
				}
			}
			.comment-wrap{
				position:relative;
				width:$width;
				margin:0 auto;
				textarea{
					width:100%;
					border:1px solid $a-gray;
					outline:none;
					padding:12px 14px;
				}
			}
			.grade-group{
				width:$width;
				margin:0 auto;
				margin-top:60px;
				height:44px;
				.grade-label{
					float:left;
					font-size:16px;
					text-align:center;
					width:30%;
					height:42px;
					line-height:42px;
				}
				.star-wrap{
					float:left;
					width:70%;
					input{

					}
				}
			}
			.btn-wrap{
				margin-top:26px;
				%base-btn{
					@include inline-block();
					@include unstyled-link();
					@include border-radius(3px);
					padding:8px 0;
					width:$btn-width;
					color:$white;
					font-size:16px;
					background-color:$theme-color;
					&:hover{
						background-color:$hover-color;
					}
					&:active{
						@include opacity(0.809);
					}
				}
				.btn-sub-a{
					@extend %base-btn;
				}
				.btn-sub-b{
					@extend %base-btn;
				}
				.btn-sub-c{
					@extend %base-btn;
				}
			}
			.grade-mt{
				margin-top:60px;
			}

		}
	}
}