@import "compass/typography/links";
@import "compass/typography";
@import "./common/header";
@import "./common/dialog";
@import "./common/item";
body{
	background-color:$bg-color;
}
div.course-container{
	$pm:30px;
	padding:0;
	background-color:$white;
	h4{
		text-indent:$pm;
		border-bottom:1px solid $a-gray;
		padding:14px 0;
		.all-right{
			float:right;
			position:relative;
			font-size:16px;
			margin-right:$pm;
			height:34px;
			line-height:normal;
			color:$f-color;
			z-index:101;
			a{
				@include inline-block();
				@include unstyled-link();
				text-indent:0;
				margin-bottom:4px;
			}
			i{
				display:inline;
				text-indent:0;
				@include transition(all 1s linear);
			}
			ul.free-wrap{

					//@include 
					position:absolute;
					@include no-bullets();
					width:100px;
					margin:0;
					padding:0;
					top:33px;
					left:48px;
					overflow:hidden;
					@include transition(all,1s,linear);
					@include opacity(0);
					@include box-shadow(0 0 3px 3px $a-gray);
					height:0;
					li{
						display:block;
						list-style:none;
						text-align:center;
						line-height:normal;
						background-color:$white;
						text-indent:0;
						a{
							@include unstyled-link();
							@include inline-block();
							margin-bottom:0;
							padding:4px 0;
							width:100%;
							text-indent:10px;
							&:hover{
								background-color:$a-gray;
							}
						}
					}
					li:first-child{
						border-bottom:1px solid $a-gray;
					}
				}
				ul.hide{
					@include opacity(0);
					height:0;
				}
			&:hover{
					i:before{
						@include inline-block();
						@include rotateZ(90deg,false);
					}
				ul.free-wrap{
					@include opacity(1);
					height:auto;
				}
			}
		}
	}
	.course-wrap{
		@extend %flex-box;
		padding-top:8px;
	}
} 