@import "./common/header";
@import "./common/dialog";
body{
	background-color:$bg-color;
}
.feedback-container{
	margin-top:24px;
	height:480px;
	position:relative;
	background-color:$white;
	.feedback-wrap{
		position:absolute;
		width:200px;
		height:50px;
		top:0;
		bottom:0;
		margin-top:auto;
		margin-bottom:auto;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		.text-feedback{
			font-size:18px;
			position:relative;
			i{
				color:$theme-color;
				font-size:48px;
				position:absolute;
				left:-0px;
				top:-12px;
			}
			span{
				color:$gray;
			}
		}
	}
}