@import "./common/header";
@import "compass/typography/links/unstyled-link";
@import "compass/typography/lists";
//引入耽搁课程组件样式
@import "./common/item";
//引入登录以及注册样式
@import "./common/dialog";
//引入专题组件样式
@import "./common/specialItem";
body{
	background-color:$bg-color;
	padding-bottom:100px;
}
.top-wrap{
	height:640px;
	background-color:$white;
	padding:0;
	@at-root (without:role){
		#carousel-example-generic{
			.carousel-inner{
				.item{
					img{
						width:100%;
						height:500px;
					}
				}
			}
		}
	}
	.link-wrap{
		margin-top:40px;
		text-align:right;
		a{
			@include unstyled-link();
			@include inline-block();
			@include border-radius(3px);
			padding:12px 20px;
			border:2px solid $theme-color;
			color:$theme-color;
			margin-left:20px;
		}
		a:last-child{
			border:0;
		}
	}
}
.normal-wrap{
	margin-top:64px;
	padding:0;
	.title-wrap{
		.all-right{
			@include unstyled-link();
			float:right;
		}
	}
	.flex-box{
		@extend %flex-box;
	}
	@extend %special_item;
}