@import "./common/header";
@import "./common/dialog";
@import "./common/specialItem";

body{
}
.special-container{
	$pd-mt:20px;
	padding-bottom:$pd-mt;
	.specialItem-wrap{
		@extend %special_item;
		.special-wrap{
			margin-top:$pd-mt;
			height:310px;
			.special-item{
				.special-tag{
					right:15px;
				}
			}
		}
	}
}

