@import "./common/header";
@import "./common/dialog";
@import "./common/specialItem";

.special-container{
	$pd-mt:30px;
	padding-bottom:$pd-mt;
	.specialItem-wrap{
		@extend %special_item;
		.special-wrap{
			margin-top:$pd-mt;
		}
	}
}

