/* line 4, ../scss/common/_header.scss */
.header {
  width: 100%;
  color: white;
  background-color: #313131;
}
/* line 8, ../scss/common/_header.scss */
.header .header-wrap {
  text-align: center;
  line-height: 68px;
}
/* line 11, ../scss/common/_header.scss */
.header .header-wrap .head-title {
  float: left;
  font-size: 24px;
  margin-left: 48px;
}
/* line 16, ../scss/common/_header.scss */
.header .header-wrap .search-wrap {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  height: 42px;
  line-height: 42px;
}
/* line 24, ../scss/common/_header.scss */
.header .header-wrap .search-wrap input {
  width: 700px;
  height: 42px;
  line-height: normal;
  border: none;
  font-size: 24px;
  padding: 2px 42px 2px 14px;
  color: black;
}
/* line 35, ../scss/common/_header.scss */
.header .header-wrap .search-wrap input:focus {
  -moz-box-shadow: 0 0 5px 1px #4baf50;
  -webkit-box-shadow: 0 0 5px 1px #4baf50;
  box-shadow: 0 0 5px 1px #4baf50;
}
/* line 39, ../scss/common/_header.scss */
.header .header-wrap .search-wrap #btn-search {
  position: absolute;
  right: 20px;
  color: #4baf50;
  font-size: 24px;
  top: 1px;
  height: 39px;
}
/* line 47, ../scss/common/_header.scss */
.header .header-wrap .search-wrap #btn-search:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81);
  opacity: 0.809;
}
/* line 53, ../scss/common/_header.scss */
.header .header-wrap .link-control {
  float: right;
}
/* line 55, ../scss/common/_header.scss */
.header .header-wrap .link-control a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  margin-right: 42px;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
.header .header-wrap .link-control a:active, .header .header-wrap .link-control a:focus {
  outline: none;
}

/* line 2, ../scss/common/_dialog.scss */
div#login-a-reg, div.dialog {
  display: none;
}
/* line 5, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-title, div.dialog .dialog-title {
  margin-top: 0;
}
/* line 7, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-title a, div.dialog .dialog-title a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  padding: 2px;
  color: #b1b1b1;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
div#login-a-reg .dialog-title a:active, div#login-a-reg .dialog-title a:focus, div.dialog .dialog-title a:active, div.dialog .dialog-title a:focus {
  outline: none;
}
/* line 12, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-title a:hover, div.dialog .dialog-title a:hover {
  background-color: rgba(210, 210, 210, 0.6);
}
/* line 18, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-tabs, div.dialog .dialog-wrap .dialog-tabs {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-block-list.scss */
div#login-a-reg .dialog-wrap .dialog-tabs li, div.dialog .dialog-wrap .dialog-tabs li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 18px;
  padding-right: 18px;
}
/* line 21, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-tabs li a, div.dialog .dialog-wrap .dialog-tabs li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  padding: 4px;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
div#login-a-reg .dialog-wrap .dialog-tabs li a:active, div#login-a-reg .dialog-wrap .dialog-tabs li a:focus, div.dialog .dialog-wrap .dialog-tabs li a:active, div.dialog .dialog-wrap .dialog-tabs li a:focus {
  outline: none;
}
/* line 27, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-tabs li a.active, div.dialog .dialog-wrap .dialog-tabs li a.active {
  color: #4baf50;
  border-bottom: 2px solid #4baf50;
}
/* line 33, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content, div.dialog .dialog-wrap .dialog-content {
  margin-top: 40px;
  position: relative;
  height: 214px;
}
/* line 41, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent, div.dialog .dialog-wrap .dialog-content .curContent {
  width: 604px;
  height: 214px;
}
/* line 44, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap {
  margin-bottom: 20px;
}
/* line 46, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap input, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap input {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 384px;
  outline: none;
  height: 38px;
  line-height: normal;
  text-indent: 14px;
  border: 1px solid #b1b1b1;
}
/* line 54, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap input:focus:not(.warning), div.dialog .dialog-wrap .dialog-content .curContent .form-wrap input:focus:not(.warning) {
  border-color: #4baf50;
  -moz-box-shadow: 0 0 3px 1px #4baf50;
  -webkit-box-shadow: 0 0 3px 1px #4baf50;
  box-shadow: 0 0 3px 1px #4baf50;
}
/* line 60, ../scss/common/_dialog.scss */
input.warning, div.warning {
  border: 1px solid #f53636 !important;
  -moz-box-shadow: 0 0 3px 1px #f53636;
  -webkit-box-shadow: 0 0 3px 1px #f53636;
  box-shadow: 0 0 3px 1px #f53636;
}
/* line 65, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap .m-btn, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap .m-btn {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  background-color: #4baf50;
  font-size: 16px;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap .m-btn:active, div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap .m-btn:focus, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap .m-btn:active, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap .m-btn:focus {
  outline: none;
}
/* line 72, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap .m-btn:hover, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap .m-btn:hover {
  background-color: #47a14b;
}
/* line 75, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap .m-btn:active, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap .m-btn:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 79, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap .btn-login, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap .btn-login {
  padding: 8px 0;
  width: 384px;
}
/* line 83, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap .forget-wrap, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap .forget-wrap {
  width: 384px;
  margin: 0 auto;
}
/* line 86, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .form-wrap .forget-wrap a, div.dialog .dialog-wrap .dialog-content .curContent .form-wrap .forget-wrap a {
  color: #b1b1b1;
}
/* line 91, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .curContent .btn-wrap, div.dialog .dialog-wrap .dialog-content .curContent .btn-wrap {
  margin-top: 40px;
}
/* line 96, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .login-content, div.dialog .dialog-wrap .dialog-content .login-content {
  position: absolute;
}
/* line 99, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content, div.dialog .dialog-wrap .dialog-content .register-content {
  top: -4px;
  position: absolute;
  display: none;
}
/* line 104, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container, div.dialog .dialog-wrap .dialog-content .register-content .level-container {
  width: 100%;
  height: 106px;
  padding: 4px 0;
  overflow: hidden;
}
/* line 109, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap {
  width: 384px;
  margin: 0 auto;
}
/* line 112, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap {
  border: 1px solid #b1b1b1;
  position: relative;
}
/* line 115, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap input, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap input {
  border: 0;
  width: auto;
  outline: none;
}
/* line 119, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap input:focus, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap input:focus {
  -moz-box-shadow: 0 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}
/* line 123, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap #get-num, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap #get-num {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  right: 0;
  margin-right: 12px;
  height: 20px;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap #get-num:active, div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap #get-num:focus, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap #get-num:active, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap #get-num:focus {
  outline: none;
}
/* line 135, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap #get-num:before, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap #get-num:before {
  position: absolute;
  content: "";
  width: 0;
  height: 22px;
  left: -10px;
  top: -1px;
  border-left: 2px solid rgba(210, 210, 210, 0.6);
}
/* line 145, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap a#get-num.disabled, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap a#get-num.disabled {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #b1b1b1;
  padding: 4px 6px;
  height: 28px;
  background-color: rgba(210, 210, 210, 0.6);
}
/* line 151, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap a#get-num.disabled:before, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap a#get-num.disabled:before {
  top: 4px;
}
/* line 156, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap.hover-wrap, div.dialog .dialog-wrap .dialog-content .register-content .level-container .level-wrap .num-wrap.hover-wrap {
  border: 1px solid #4baf50;
  -moz-box-shadow: 0 0 3px 1px #4baf50;
  -webkit-box-shadow: 0 0 3px 1px #4baf50;
  box-shadow: 0 0 3px 1px #4baf50;
}
/* line 163, ../scss/common/_dialog.scss */
div#login-a-reg .dialog-wrap .dialog-content .register-content .btn-wrap .btn-next, div#login-a-reg .dialog-wrap .dialog-content .register-content .btn-wrap .btn-register, div.dialog .dialog-wrap .dialog-content .register-content .btn-wrap .btn-next, div.dialog .dialog-wrap .dialog-content .register-content .btn-wrap .btn-register {
  padding: 8px 0;
  width: 384px;
  margin-top: -4px;
}

/* line 5, ../scss/course_info.scss */
body {
  background-color: #f0f0f0;
}

/* line 8, ../scss/course_info.scss */
.main-wrap {
  margin-top: 20px;
}
/* line 10, ../scss/course_info.scss */
.main-wrap .top-wrap {
  height: 360px;
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* line 17, ../scss/course_info.scss */
.main-wrap .top-wrap .img-wrap {
  text-align: center;
}
/* line 20, ../scss/course_info.scss */
.main-wrap .top-wrap .img-wrap a img {
  width: 480px;
  height: 310px;
}
/* line 26, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap {
  height: 310px;
  position: relative;
}
/* line 29, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap #course-content {
  height: 120px;
  text-indent: 24px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: normal;
}
/* line 35, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .grade-wrap {
  color: #4baf50;
  font-weight: bold;
}
/* line 38, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .grade-wrap .star-wrap {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 41, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .grade-wrap #num-stu {
  color: #b1b1b1;
  margin-left: 12px;
}
/* line 46, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .bottom-active {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 24px;
}
/* line 55, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .bottom-active .join-wrap {
  float: right;
  margin-right: 14px;
}
/* line 58, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .bottom-active .join-wrap .btn {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 10px 16px;
  font-size: 16px;
  color: white;
}
/* line 64, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .bottom-active .join-wrap .btn-join {
  background-color: #4baf50;
}
/* line 66, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .bottom-active .join-wrap .btn-join:hover {
  -moz-box-shadow: 0 0 5px 1px #4baf50;
  -webkit-box-shadow: 0 0 5px 1px #4baf50;
  box-shadow: 0 0 5px 1px #4baf50;
}
/* line 69, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .bottom-active .join-wrap .btn-join:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81);
  opacity: 0.809;
}
/* line 73, ../scss/course_info.scss */
.main-wrap .top-wrap .info-wrap .bottom-active .join-wrap .btn-overed {
  background-color: #b1b1b1;
  cursor: crosshair;
}
