@import "compass/typography/lists";
@import "compass/typography/links";
@import "compass/css3";
@import "font-awesome-compass";
@import "font-awesome";
@import "theme";
.header{
	width:100%;
	color:hsl(0deg,50%,100%);
	background-color:rgba(49,49,49,1);
	.header-wrap{
		text-align:center;
		line-height:68px;
		.head-title{
			float:left;
			font-size:24px;
			margin-left:48px;
		}
		.search-wrap{
			@include inline-block();
			@include box-sizing(border-box);
			$h-height:42px;
			vertical-align:middle;
			position:relative;
			height:$h-height;
			line-height:$h-height;
			input{
				width:700px;
				height:$h-height;
				line-height:normal;
				border:none;
				font-size:24px;
				padding:2px 42px 2px 14px;
				color:hsl(0deg,0%,0%);
				&{
					@include input-placeholder();
				}
				&:focus{
					@include box-shadow(0 0 5px 1px $theme-color);
				}
			}
			#btn-search{
				position:absolute;
				right:20px;
				color:$theme-color;
				font-size:24px;
				top:1px;
				height:$h-height - 3px;

				&:active{
					@include opacity(0.809);
				}
			}
			
		}
		.link-control{
			float:right;
			a{
				@include unstyled-link();
				margin-right:42px;
			}
		}
		.login-info{
			float:right;
			position:relative;
			.img-wrap{
				@include unstyled-link();
				span.name{
					margin-left:1rem;
				}
			}
			.links-wrap{
				@include opacity(0);
				@include no-bullets();
				position:absolute;
				padding:0;
				line-height:normal;
				background-color:$white;
				width:170px;
				z-index:-1;
				left:-70px;
				li{
					color:$black;
					text-align:left;
					padding:8px 30px;
					i{
						font-size:18px;
					}
					a{
						@include unstyled-link();
						font-size:16px;
						margin-left:20px;
					}
					&:hover{
						background-color:$bg-color;
					}
				}
				&:before{
					position:absolute;
					content:"";
					width:0px;
					height:0px;
					border:8px solid transparent;
					border-bottom-color:$white;
					top:-16px;
				}
			}
			&:hover{
				ul.links-wrap{
					z-index:101;
					@include animation(infoShow 300ms 0s linear 1 null forwards null);
				}
			}
		}
	}
}

@include keyframes(infoShow) {
	0%{
		@include opacity(0);
	}
	50%{
		@include opacity(0.5);
	}
	100%{
		@include opacity(1);
	}

}