@import "theme";
@import "compass/typography/links";
@import "compass/css3";
.header{
	width:100%;
	color:hsl(0deg,50%,100%);
	background-color:rgba(49,49,49,1);
	.header-wrap{
		text-align:center;
		line-height:68px;
		.head-title{
			float:left;
			font-size:24px;
			margin-left:48px;
		}
		.search-wrap{
			@include inline-block();
			@include box-sizing(border-box);
			$h-height:42px;
			vertical-align:middle;
			position:relative;
			height:$h-height;
			line-height:$h-height;
			input{
				width:700px;
				height:$h-height;
				line-height:normal;
				border:none;
				font-size:24px;
				padding:2px 42px 2px 14px;
				color:hsl(0deg,0%,0%);
				&{
					@include input-placeholder();
				}
				&:focus{
					@include box-shadow(0 0 5px 1px $theme-color);
				}
			}
			#btn-search{
				position:absolute;
				right:20px;
				color:$theme-color;
				font-size:24px;
				top:1px;
				height:$h-height - 3px;

				&:active{
					@include opacity(0.809);
				}
			}
			
		}
		.link-control{
			float:right;
			a{
				@include unstyled-link();
				margin-right:42px;
			}
		}
	}
}