@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import "theme";
@mixin flex-box($wh:280px,$hh:230px,$ih:160px){

	@include display-flex();
	@include flex-flow(row wrap);
	@include justify-content(flex-start);
	@include align-items(center);
	@include align-content(center);
	.item{
		width:$wh;
		height:$hh;
		background-color:$white;
		border:1px solid $bg-color;
		margin-bottom:32px;
		position:relative;
		@include transition(margin-top 0ms linear);
		a.img-link{
			img{
			width:100%;
			height:$ih;
			}
		}
		.s-tag{
			@include inline-block();
			position:absolute;
			top:0;
			right:0;
			font-size:16px;
			padding:2px 6px;
			background-color:$theme-color;
			color:$white;
		}
		.notice-wrap{
			padding:0 12px;
			@include transition(margin-top,500ms,linear);
			.sms-title{
				@include ellipsis(nowrap);
				color:$black;
				margin-top:12px;
			}
			.notice-sms{
				a{
					cursor:default;
				}
				a.money-wrap,.sms-wrap{
					@include unstyled-link();
					color:$gray;
				}
				.learning-num{
					@include unstyled-link();
					color:$gray;
					margin-left:30px;
				}
				.is-favorite,.btn-continue{
					@include unstyled-link();
					float:right;
				}
				.ok-favorite{
					color:$red;
				}
				.no-favorite,.btn-continue{
					color:$theme-color;
				}
			}
		}
		&:hover{
			margin-top:-4px;
			@include box-shadow(0px 4px 4px 2px $shadow-color);
		}
	}
}
