@import "font-awesome-compass";
@import "font-awesome";
.dialog{
	.dialog-wrap{
		.dialog-content.dialog-main{
			height:auto;
			.orderPay-wrap{
				width:510px;
				margin:0 auto 16px auto;
				.order-item{
					padding:14px 0px 4px 0px;
					border-bottom:1px solid $bg-color;
					label{

					}
					span{
						float:right;
						color:$gray;
					}
					span.pay-wrap{
						color:$red;
						font-size:16px;
					}
				}
				.order-type{
					margin-bottom:60px;
					h5{

					}
					.type-wrap{
						position:relative;
						margin-right:70px;
						border:1px solid $bg-color;
						padding:8px 14px;
						i{
							font-size:24px;
						}
						i.color-wallet{
							color:$wallet-color;
						}
						i.color-wechat{
							color:$theme-color;
						}
						.icon-selected{
							display:none;
						}
						input[type="radio"]{
							position:absolute;
							width:125px;
							height:28px;
							@include opacity(0);
							left:0;
							right:0;
						}
						&:hover{
							cursor:pointer;
						}
					}
					.type-selected{
						@include box-sizing(padding-box);
						border:2px solid $theme-color;
						position:relative;
						$b-width:14px;
						&:after{
							@include rotateZ(45deg);
							position:absolute;
							content:"";
							width:0px;
							height:0px;
							border:$b-width solid transparent;
							border-bottom-color:$theme-color;
							top:-$b-width;
							right:-$b-width;
							z-index:100;
						}
						i.icon-selected{
							display:inline;
							position:absolute;
							top:-8px;
							right:-6px;
							color:$white;
							z-index:101;
							@include scale(0.618);
						}
					}
					@at-root (without:all){
						.qr-wrap{
							height:0;
							overflow:hidden;
							.img-wrap{
								@include inline-block();
								@include box-sizing(border-box);
								width:150px;
								height:130px;
								padding:10px 20px;
								img{
									max-width:100%;
									max-height:100%;
								}
							}
						}
					}
					
				}
				.btn-wrap{
					margin-top:0px;
					.btn-pay{
						@include inline-block();
						@include unstyled-link();
						@include border-radius(3px);
						width:384px;
						background-color:$theme-color;
						color:$white;
						font-size:16px;
						padding:8px 0;

						&:hover{
							background-color:$hover-color;
						}
						&:active{
							@include opacity(0.809);
						}
					}
				}
			}
		}
	}
}