//主体背景颜色
$bg-color:rgba(240,240,240,1);
//主题颜色，绿色
$theme-color:rgba(75,175,80,1);
//按钮hover颜色
$hover-color:rgba(71,161,75,1);
//红色
$red:rgb(245,54,54);
//白色，通用色
$white:hsl(0deg,50%,100%);

//黑色
$black:hsl(0deg,0%,0%);

//灰色
$gray:rgb(177,177,177);

//透明灰
$a-gray:rgba(210,210,210,0.6);

//字体灰
$f-color:rgb(210,210,210);
