//主体背景颜色
$bg-color:rgba(240,240,240,1);
//主题颜色，绿色
$theme-color:rgba(75,175,80,1);
//按钮hover颜色
$hover-color:rgba(71,161,75,1);
//红色
$red:rgb(245,54,54);
//白色，通用色
$white:hsl(0deg,50%,100%);

//黑色
$black:hsl(0deg,0%,0%);

//灰色
$gray:rgb(177,177,177);

//透明灰
$a-gray:rgba(240,240,240,0.618);

//字体灰
$f-color:rgb(200,200,200);
//投影
$shadow-color:rgb(230,230,230);
//字体黑
$f-black:rgb(42,42,42);
//字体浅色黑
$fb-black:rgb(80,80,80);
//字体浅色灰
$f-gray:rgb(120,120,120);
//字体浅浅灰色
$ff-gray:rgb(100,100,100);

//钱包的颜色
$wallet-color:rgb(154,209,34);

//链接控制颜色
$control-color:rgb(2,46,210);
