
@import "../common/header";
@import "../common/dialog";

body{
	background-color:$bg-color;
}
.toBeWrap{
	background-color:$white;
	padding:0;
	.form-title{
		padding:10px 0px 18px 35px;
		border-bottom:1px solid $bg-color;

		.sms-notice{
			font-size:12px;
			color:$gray;
		}
	}
	.fm-group{
		height:36px;
		margin:24px 0px;
		.fl-label{
			width:12%;
			.label-notice{
				font-size:12px;
				color:$gray;
			}
		}
		.mt-label{
			margin-top:4px;
		}
		.fl-input-wrap,.n-input-wrap{
			width:88%;
			padding-left:24px;
		}
		.fl-input-wrap{
			.checkbox-wrap{
				margin-right:48px;
			}
			.sms-input{
				width:300px;
				height:32px;
				border:1px solid $gray;
				outline:none;
				line-height:normal;
				&:focus{
					border-color:$theme-color;
					@include box-shadow(0 0 1px 1px $theme-color);
				}
			}
		}
		.n-input-wrap{
			margin-left:12%;
			.checkbox-inline{
				@at-root (without:role){
					.link-agreement{
						color:$theme-color;
					}
				}
			}
		}
	}
	.h-group{
		$height:240px;
		height:$height;
		@at-root (without:all){
			.images-item{
				float:left;
				position:relative;
				margin-right:48px;
				//border:1px solid $theme-color;
				width:$height - 20px;
				height:$height - 20px;
				.images-wrap{
					width:100%;
					height:180px;
					line-height:180px;
					text-align:center;
					border:1px dotted $bg-color;
					i{
						font-size:48px;
						color:$a-gray;
						&:hover{
							cursor:pointer;
						}
					}
					img{
						max-width:100%;
						max-height:100%;
					}

					//针对臭ie作调整
					div.img{
						max-width:100%;
						max-height:100%;
					}
				}
				.upload-file{
					@include opacity(0);
					position:absolute;
					height:48px;
					width:100%;
					top:50%;
					margin-top:-50px;

				}
				.txt-notice{
					position:absolute;
					bottom:0;
					left:0;
					right:0;
				}
			}
			.item-team{
				display:none;
			}
		}
	}
	.bttn-group{
		.btn-submit{
			@include unstyled-link();
			@include inline-block();
			@include border-radius(5px);
			color:$white;
			background-color:$theme-color;
			padding:8px 0px;
			width:380px;
			&:hover{
				background-color:$hover-color;

			}
			&:active{
				@include opacity(0.5);
			}
		}
	}
}
